<a href="https://colab.research.google.com/github/SachinScaler/DSML-Nov22-Beginner-Tue-3/blob/main/Doubt_Solving_Session_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
class Car:
    __registration_num = 100

    def method1(self):
        print(self.__registration_num) 


class Child(Car):
    def method2(self):
        #print(self.__registration_num) # accessing in child class
        super().method1() # calling the parent class

c1 = Child()
c1.method2()

100

In [15]:
import math

def get_derivative(x):
    h = 0.00001
    def some_func(x):
        return (math.e**x + math.e**(-x))/ (math.e**x - math.e**(-x))
    return (some_func(x+h)-some_func(x))/h

In [16]:
a = 10
get_derivative(a)

-8.260059303211165e-09

In [ ]:

def get_derivative(x):
    h = 0.00001
    def some_func(x):
        return (math.e**x + math.e**(-x))/ (math.e**x - math.e**(-x))
    return (some_func(x+h)-some_func(x))/h

In [20]:
def get_derivative(x):
    h = 0.00001
    def some_func(x):
        return x**2
    return (some_func(x+h)-some_func(x))/h # ((x+h)**2 - x**2)/h

get_derivative(2)

4.000010000027032

In [ ]:
def check_func:
    

    # logic of factorial
    # finally prime

In [32]:
class Car:
    static_var = 100
    def __init__(self, name, color):
        self.name= name
        self.color = color

    def method1(self, name):
        self.name = name

class Child():
    def __init__(self, name, value):
        self.value = value
    

c1 = Child("A", 10)

## Do not inherit and try to create instance varible by calling a function of some experiment

In [29]:
c1.value

10

In [30]:
c1.name

'A'

In [31]:
c1.name2 = "B"

In [33]:
c1.static_var

100

In [36]:
class Car:
    static_var = 100
    def __init__(self, name, color):
        self.name= name
        self.color = color

    # new function Allocates the memory

c1 = Car("ABC", "Red")

- inherit from some class

-  while creating object of parent class both new and init will get called automatically

-  while creating object of child class only new automatically and it will handle init for you

In [40]:
# 
def func1(func):
    def inner():
        print("*"*50)
        func()
        print("*"*50)
    return inner

def print_hello():
    print("Hello")

In [41]:
func1(print_hello)()

**************************************************
Hello
**************************************************

In [43]:
def print_world():
    print("World")

func1(print_world)()

**************************************************
World
**************************************************

In [44]:
print_world()

World

In [48]:
@func1
@func1
def print_bye():
    print("Bye")

print_bye()

**************************************************
**************************************************
Bye
**************************************************
**************************************************

In [50]:
func1(func1(print_world))()

**************************************************
**************************************************
World
**************************************************
**************************************************

In [53]:
ids = ["Sam@gmail.com", "Ram@gmail.com", "Sam@gmail.com", "samJohnson@iit.com", "SAM@harvard.com"]
name="sam"
result = list(filter(lambda x : (name.lower()  in x or name.upper() in x) , ids))
print(result)

['samJohnson@iit.com', 'SAM@harvard.com']

In [54]:
x  = "SAM"

name="sam"

print(name.lower() or name.upper()) in x

sam

In [57]:
False or name.lower()

'sam'

In [62]:
class solution:
    def initial(self,sets):
        return self.final(sets) 
    
    def final(self, sets):
        return list(map(lambda x: ((x*3)%2==0,x*3),sets)) 
    
print(solution().initial([4,5,6]))

[(True, 12), (False, 15), (True, 18)]

In [59]:
list(map(lambda x: ((x*3)%2==0,x*3),[4,5,6]))

[(True, 12), (False, 15), (True, 18)]

In [61]:
(lambda x: [(x*3)%2==0,x*3])(4)

[True, 12]

In [ ]:
class Model:
    def get_inference_from_model():
        pass

In [80]:
string = '''
We spent years several years  building our own database engine, Amazon Aurora, a fully-managed MySQL 
and PostgreSQL-compatible service with the same or better durability and availability as
the commercial engines, but at one-tenth of the cost. We were not surprised when this worked.
'''
result = lambda key, val: key[ key.find(val) -18 : key.find(val) +18 ] if val in key else -1 
print(result(string, 'SQLOP'))
# explain this

-1

key --> String
val --> "SQL"

In [74]:
key = string
key[20 -18 : 10 +18] # 2 and 28

'e spent years several year'

In [75]:
key.find("years") # starting point of first occurence

10

In [76]:
string[key.find("years")]

'y'

Day 37 - DSML Intermediate: OOPS - 2
Q8. class and constructor

In [82]:
class Student:
  # Class variable
  subject_name = 'Math for Machine Learning'

  # constructor
  def __init__(self, name, roll_no):
    self.name = name
    self.roll_no = roll_no

# outside the class
# create Objects
# s1 = Student("Emma", 10)#blank1
# _____________________#blank2

# print(s1.name, s1.roll_no, s1.subject_name)
# Emma 10 Machine Learning

In [83]:
s1 = Student("Emma", 10)

In [84]:
print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Math for Machine Learning

In [87]:
s1.subject_name = "Machine Learning" # instance var which will overwrite class var

In [88]:
print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [89]:
Student.subject_name = "Machine Learning"

In [90]:
print(s1.name, s1.roll_no, s1.subject_name)

Emma 10 Machine Learning

In [91]:
s1 = Student('Emma', 10)
s1.subject_name = 'Machine Learning'

SyntaxError: ignored

In [92]:
a =10 , b =20

SyntaxError: ignored

In [93]:
a,b = 10, 20

In [ ]:
s1, s1.subject_name = Student('Emma', 10) , 'Machine Learning'

In [98]:
#whats the issue with this code? 
class vehicle:
    _country="India"
    _state="Karnataka"
    __registration="KA 02" 
    def method1(self):
        print("ABCD") 
    def method2(self):
        self.method1() 
    def __new__(self):# used to allocate memory and create blank object
        return ("object created") 

x=vehicle()

print(x)

object created

In [99]:
x.method1()

AttributeError: ignored

In [97]:
x1=vehicle()

print(x1)

object created
None

In [130]:
class Vehicle:
     def __init__(self, name, brandname ):
        self.name = name
        self.brandname= brandname

     def drive(self):
        print("Driving Vehicle")

class Car(Vehicle):
    wheel = 4
    def __init__(self, name, brandname, pno ):
        super().__init__(name, brandname)
        self.__plate_no = pno # encapsulation

    def drive(self):
        print("Driving Car")
        super().drive() 

class Bike(Vehicle):
    wheel = 2
    def __init__(self, name, brandname ):
      super().__init__(name, brandname)

    def drive(self):
        print("Driving Bike")

In [131]:
c1= Car("i10","Hyundai", "KL210")

In [128]:
b1= Bike("Harley","Davidson")

In [132]:
# # polymorphism drive behave differenty based on object
# c1.drive()
# b1.drive()

In [133]:
c1.drive()

Driving Car
Driving Vehicle