<a href="https://colab.research.google.com/github/SachinScaler/DSML-Nov22-Beginner-Tue-3/blob/main/Doubt_Session_Tue_8April.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
class Parent:
    def test(self):
        print("test of parent called", end=", ")
class Child1(Parent):
    def test(self):
        print("test of child1 called", end=", ")
        super().test() 
        
class Child2(Parent):
    def test(self):
        print("test of child2 called", end=", ") 
        
class Brother(Child1,Child2):
    def test2(self):
        print("test of Brother called", end=", " ) 
        
obj= Brother()
obj.test()

test of child1 called, test of child2 called,

In [3]:
ef min_value(a,b,c,ll,ul):
# a,b,c -> Integers. Coefficients of quadratic equation ax^2 + bx + c = 0
# ll -> Integer. Lower limit of variable x
# ul -> Integer. Upper Limit of variable x
# return the Integer value of x for which the quadratic equation attains minimum value ans = None # code starts def f(x): res = a*x**2 + b*x + c return res min_val = 1000000000 for x in range(ll,ul+1): v = f(x) if v < min_val: min_val = v ans = x

SyntaxError: ignored

In [ ]:
# Can you explain this assignment ques: 

array = [ [1, [ [ 2 ] ], [ [ [ 3 ] ] ], [ [ 4 ], 5 ] ]]
result = lambda x: sum(map(result, x), [ ] ) if isinstance(x, list) else [x]
print(result(array))

In [ ]:
sum([2])

In [ ]:
def result(list1):
    list1 = []
    for i in list1:
        if isinstance(i, list):
            result(list1)
        else:
            list1.append(i)

In [ ]:
# no inbuilt function

In [ ]:
def checkprime(x, ):
    if x<2:
        return True
    for i in range(2,x):
        if x%i==0:
            return False
    else:
        return True

checkprime(0)

In [ ]:
is_prime = lambda x: x%i  for i in range(2,x) if x

In [ ]:
lambda x:x*i

In [ ]:
def checkprime(x,i=2 ): # TC O(N) and SC = O(N)
    if x<2:
        return True
    if i==x:
        return True
    if x%i==0:
        return False
    else:    
        return checkprime(x,i+1)

checkprime(5)

In [ ]:
check_p = lambda x,y=2: True if x <2 else True if y==x else False if x%y==0 else  check_p(x,y+1)

In [ ]:
check_p(4,3)

In [ ]:
check_p(5)

In [ ]:
def sim_finct(x,y =2):
    print(x,y)

sim_finct(3)

In [ ]:
sim_finct(3, 4)

In [ ]:
# subset

[1,2,3]

In [ ]:
[[], [1], [2], [3], [1,2], [1,3], [2,3], [1,2,3]]

In [ ]:
def get_subset(list1, curr_subset=[]):
    if len(list1)==0:
        print(curr_subset)
        return
    get_subset(list1[1:],curr_subset+[list1[0]])  # include first element in subset       
    get_subset(list1[1:],curr_subset)              # exclude first element from subset

list1 = [1,2,3]
get_subset(list1)

In [4]:
def get_subset(list1, curr_subset=[], output= []):
    if len(list1)==0:
        output.append(curr_subset)
        return
    get_subset(list1[1:],curr_subset+[list1[0]])  # include first element in subset       
    get_subset(list1[1:],curr_subset)             # exclude first element from subset
    return output

list1 = [1,2,3]
get_subset(list1)

[[1, 2, 3], [1, 2], [1, 3], [1], [2, 3], [2], [3], []]

In [5]:
# 10:18

def reverse_num(num, output = ""):
    num = str(num)
    if num=="":
        return output

    return reverse_num(num[1:],num[0]+ output) # num[1:] --> num//10 , num[0] --> % num%10
    # you can take last digit and add it in the back

reverse_num(123)

'321'

In [6]:
output = "ABC"

In [7]:
"D" + output

'DABC'

In [8]:
class Vehicle:
    country = "India"
    def __init__(self,name, model, rno):
        self.name = name 
        self.model = model
        self.__registration = rno

    def update_rgo(self,new_r):
        self.__registration = new_r


v1=Vehicle("Honda",  1995, 1234)

In [9]:

v2=Vehicle("Hyundai",  1995, 12345)

In [10]:
print(v1.country)
print(v2.country)

India
India

In [11]:
v1.update_rgo(123791283)

In [12]:
# inheritance

class Vehicle:
    country = "India"
    __id = 100
    def __init__(self,name, model, rno):
        self.name = name 
        self.model = model
        self.__registration = rno

    def update_rgo(self,new_r):
        self.__registration = new_r

    def some_method(self):
        return self.model

In [13]:
class Car(Vehicle):

    def __init__(self, power, name, model, rno ):
        self.no_wheels = 4
        self.engine_power = power
        super().__init__(name, model, rno)

    def some_method(self):
        print(super().some_method()) # NAMEOFPARENT.METHODINPARENT(self): Vehicle.some_method(self)
        return self.engine_power


c1 = Car("800CC", "Nexon", "Tata", 12345)

In [14]:
c1.some_method()

Tata

'800CC'

In [15]:
class A:
    pass
class B(A):
    pass

class C(A):
    pass

class D(B,C):
    pass

# some function 
d = D() # creating an object of Class D
#d.some_func() # D  B  C A

In [16]:
D.__mro__

(__main__.D, __main__.B, __main__.C, __main__.A, object)

In [17]:
C.__mro__

(__main__.C, __main__.A, object)

In [18]:
C.mro()

[__main__.C, __main__.A, object]

In [19]:
class A:
    var = 100
    __var2 = 1000
    def something(self):
        print("in par")

class B(A):
   def child_func(self):
       print(B.var)
       super().something()
b = B()
b.child_func()

100
in par

In [20]:
B.var

100

In [21]:
B.__var2

AttributeError: ignored

In [ ]:
isinstance(b, object)

In [ ]:
isinstance(B, object)

In [ ]:
def selectionSort(lis):
    n=len(lis)
    #YOUR CODE GOES HERE
    for i in range(n-1):
        mini=ord(lis[i][0]) # first char of i
        idx=i
        for j in range(i,n):
            if ord(lis[j][0])<mini:
                mini=ord(lis[j][0])
                idx=j
        lis[i],lis[idx]=lis[idx],lis[i]
    return lis
selectionSort(['aclpha', 'aacpha', 'beta', 'delta'])

In [ ]:
"A" <"B"

In [ ]:
'aclpha'<"aacpha"

In [ ]:
"a"<"A"

In [ ]:
ord("a")<ord("A")

In [ ]:
# if the question to perform case insensitive : Perform lowercase/Uppercase on each_element
# if the question to perform case sensitive

In [25]:
import os

# lsit all files in current dir
os.listdir()

['.config', 'mymodule.py', '.ipynb_checkpoints', '__pycache__', 'sample_data']

In [22]:
import mymodule

In [23]:
mymodule.a

10

In [24]:
mymodule.b

100

In [ ]:
A()

A(B,C) # multiple inheritance


A
B(A)
C(B)
# multi level inheritance

In [ ]:
The p-th norm (“p” is an integer and p>=1) of a vector X 
having n- dimensions is given 
by Suppose you are given a vector A = (2,3,4,1,5). 
Find the 2nd Norm of the vector X. 
please explain thsi

In [ ]:
(2 + 3 + 1 + 4 + 5)