<a href="https://colab.research.google.com/github/SachinScaler/DSML-Nov22-Beginner-Tue-3/blob/main/Functional_Programming.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
(lambda x: x**2)(3)

9

- Anonymous Function

In [2]:
(lambda x: x**2)(4)

16

In [3]:
(lambda x: x**2)(5)

25

In [4]:
func = lambda x: x**2

In [5]:
func(5)

25

In [6]:
print(func(10))
print(func(11))

100
121

In [7]:
# adding condition
"""
def func(x):
  if x>5:
    return "number is Greater than 5"
  else:
    return "Number Smaller than 5"

"""
a = lambda x : "number is Greater than 5" if x>5 else "Number Smaller than 5"

In [8]:
a(5)

'Number Smaller than 5'

In [9]:
a(11)

'number is Greater than 5'

Homework: Write lambda function to check if number is odd or even

In [10]:
"""
def func(x):
  if x>5:
    return "number is Greater than 5"
  elif x<3:
    return "number is less thab 3"
  else:
    return "Number between 3 and  5"
"""
a = lambda x : "number is Greater than 5" if x>5 else "Number is less than 3" if x<3 else "Number between 3 and 5"

In [11]:
a(2)

'Number is less than 3'

In [12]:
# sum of two numbers:

(lambda x,y: x+y)(5,6)

11

In [13]:
sum_two = lambda x,y: x+y
sum_two(5,6)

11

In [14]:
list1 = [ [2,3],
         [4,2],
         [1,9]]

sorted(list1) #list1.sort()

[[1, 9], [2, 3], [4, 2]]

In [15]:
list1 = [1,2,3,0]
list1.sort()
print(list1)

[0, 1, 2, 3]

In [16]:
list1 = sorted(list1)
print(list1)

[0, 1, 2, 3]

In [17]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [18]:
# sorting on the second number(1st index)
list1 = [ [2,3],
         [4,2],
         [1,9]]

sorted(list1, key = lambda x : x[1])

[[4, 2], [2, 3], [1, 9]]

In [19]:
list1 = [ [2,3, 11],
         [4,2, 9],
         [1,9, -1]]

sorted(list1, key = lambda a : a[2])

[[1, 9, -1], [4, 2, 9], [2, 3, 11]]

In [20]:
### sorting a dictionary
dict1 = {"A": 50, "D":90, "C":30, "B":80, "E":80 }
dict1

{'A': 50, 'D': 90, 'C': 30, 'B': 80, 'E': 80}

In [21]:
sorted(dict1)

['A', 'B', 'C', 'D', 'E']

In [22]:
a = list(dict1.items()) # list of tuples where. 1st number is key and second number is value
print(a)

[('A', 50), ('D', 90), ('C', 30), ('B', 80), ('E', 80)]

In [23]:
dict(sorted(a))

{'A': 50, 'B': 80, 'C': 30, 'D': 90, 'E': 80}

In [24]:
sorted(a, key = lambda x: x[1])

[('C', 30), ('A', 50), ('B', 80), ('E', 80), ('D', 90)]

In [25]:
dict(sorted(a, key = lambda x: x[1], reverse = True))

{'D': 90, 'B': 80, 'E': 80, 'A': 50, 'C': 30}

In [26]:
(lambda num: (num - 10) * 2 / 4)(20)

5.0

In [27]:
func = lambda x: return x *2
print(func(2))

SyntaxError: ignored

In [28]:
func = lambda x,y: [x*y, x+y]
print(func(2, 5))
print(func(3, 5))

[10, 7]
[15, 8]

In [29]:
func = lambda x,y: [x*y, x+y]
func(2, 5)
func(3, 5)

[15, 8]

In [30]:
students = [{"name": "A", "marks": 50},
            {"name": "B", "marks": 100},
            {"name": "C", "marks": 40},
            {"name": "D", "marks": 70},
            {"name": "E", "marks": 60},
            ]

In [31]:
new = []

for i in students:
  new.append(list(i.items()))

new

[[('name', 'A'), ('marks', 50)],
 [('name', 'B'), ('marks', 100)],
 [('name', 'C'), ('marks', 40)],
 [('name', 'D'), ('marks', 70)],
 [('name', 'E'), ('marks', 60)]]

#### Hw: Sort new on Marks

In [32]:
students = [{"name": "A", "marks": 50},
            {"name": "B", "marks": 100},
            {"name": "C", "marks": 40},
            {"name": "D", "marks": 70},
            {"name": "E", "marks": 60},
            ]


sorted(students, key = lambda x:x['marks'] )

[{'name': 'C', 'marks': 40},
 {'name': 'A', 'marks': 50},
 {'name': 'E', 'marks': 60},
 {'name': 'D', 'marks': 70},
 {'name': 'B', 'marks': 100}]

In [33]:
sorted(students, key = lambda x:x['marks'] , reverse = True)

[{'name': 'B', 'marks': 100},
 {'name': 'D', 'marks': 70},
 {'name': 'E', 'marks': 60},
 {'name': 'A', 'marks': 50},
 {'name': 'C', 'marks': 40}]

In [34]:
list1 = [ 1,2,3,4,5]
# [ 1,4,9,16,25]
def funct(x):
  return x**2

list_output = []
for i in list1:
  list_output.append(funct(i))
list_output

[1, 4, 9, 16, 25]

In [35]:
list1 = [ 1,2,3,4,5]

list_output = []
for i in list1:
  list_output.append((lambda x: x**2)(i))
list_output

[1, 4, 9, 16, 25]

In [36]:
list1 = [ 1,2,3,4,5]

lambda_func = (lambda x: x**2)
list_output = []
for i in list1:
  list_output.append(lambda_func(i))
list_output

[1, 4, 9, 16, 25]

#### map

In [37]:
list1 = [ 1,2,3,4,5]

list(map(lambda x: x**2, list1))

[1, 4, 9, 16, 25]

In [39]:
list1 = [ 1,2,3,4,5]

list(map(lambda x: x+10, list1))

[11, 12, 13, 14, 15]

In [38]:
input_line = input()
list(map(int, input_line.split()))

KeyboardInterrupt: ignored

In [ ]:
input_line

In [ ]:
input_line.split(" ")

In [ ]:
"1, 2,3".split(",")

HW: Given a list of numbers return a list of "Odd"  or "even" depending on each number in list
```
input_list = 1 2 3 4 5
output_list=["Odd","Even", "Odd", "Even" , "Odd"]

```

In [ ]:
input_list = [1 ,2, 3, 4, 5]
Output = [2,4]

In [ ]:
list(filter(lambda x: x%2==0, list1))

In [40]:
list1 = [1,2,3,4,5]
def func1(x):
  if x%2==0:
    return True
  else:
    return False

list(filter(func1, list1))

[2, 4]

In [41]:
list(map(func1, list1))

[False, True, False, True, False]

Homework:
- heights = [144, 167, 189, 170, 190, 150, 165, 178, 200, 130]
- height < 150: Size "S"
- height >= 150 and height < 180: "M"
- height > 180: "L"

1. Output: ['S', 'M', 'L', 'M', 'L', 'M', 'M', 'M', 'L', 'S']

2. Output: [144, 130]

In [ ]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return lambda: func2(c,d)

result = func1(1, 2)
print(result)
print(result())

In [ ]:
def func2(c, d):
    return c, d

def func1(a, b):
    c = a**1
    d = b**2
    return func2(c,d)

result = func1(1, 2)

print(result)

In [ ]:
from functools import reduce

reduce(lambda x,y:x+y, list1)

In [ ]:
list1 = ['s', 'a','c', 'h', 'i', 'n']
reduce(lambda x,y:x+y, list1)

In [43]:
from functools import reduce
list1 = ['s', 'a','c', 'h', 'i', 'n']

reduce(lambda x,y:x+y, list1[:-1])

'sachi'

### Homework:
list1 = ['s', 'a','c', 'h', 'i', 'n']
You have to remove vowels and add remaining elements

- 'schn'

In [ ]:
# reduce(fun,filter(func))

In [ ]:
# factorial 


reduce(lambda x,y:x*y, range(1,100))

### HW:
Batsman: Score

{"Sachin": 97, "Ganguly": 53, "Sehwag": 33}
output: 183

In [ ]:
dict = {"A": 50,"B":30, "C": 40}
a = list(dict1.items())
print(a)
sorted(a,key = lambda x: x[1]) 
# here how x get list value

In [ ]:
def func(x):
  return x[1] # lambda x:x[1]
dict1 = {"A": 50,"B":30, "C": 40}
a = list(dict1.items())
print(a)
sorted(a,key =func)

### Higher Order Function