<a href="https://colab.research.google.com/github/SachinScaler/DSML-Nov22-Beginner-Tue-3/blob/main/OOP_1_Session_Tuesday.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Why OOP:
Let's try to model this Banking Application scenario with Procedural Programming

In [ ]:
#banking application
account_no = 100
customer_name = "Sachin"
acc_balance = 1000


def deposit(curr_balance, amount):
  return curr_balance+amount

def diplay_balance(cust_name, curr_balance):
  print("Balance for ",cust_name, "is", curr_balance)

acc_balance = deposit(acc_balance, 500)

In [ ]:
diplay_balance(customer_name, acc_balance)

Balance for  Sachin is 1500

In [ ]:
account_no1 = 101
customer_name1 = "Ankit"
acc_balance1 = 500

acc_balance = deposit(acc_balance1, 500)
diplay_balance(customer_name1, acc_balance1)

Balance for  Ankit is 500

In [ ]:
diplay_balance(customer_name, acc_balance)

Balance for  Sachin is 1000

In [ ]:
account_no2 = 102
customer_name2 = "Sharath"
acc_balance2 = 5000

acc_balance = deposit(acc_balance2, 500)
diplay_balance(customer_name2, acc_balance2)

Balance for  Sharath is 5000

In [ ]:
# empty class: 
class BankAccount:
  pass


# object of class
c1 = BankAccount()

In [ ]:
c2 = BankAccount()

### isinstance: Tells us whether a variable is an instance/object of some Class

In [ ]:
a = 10
isinstance(a, str)

False

In [ ]:
a = 10
isinstance(a, int)

True

In [ ]:
print(type(a))

<class 'int'>

In [ ]:
c1 = BankAccount()
isinstance(c1, int)

False

In [ ]:
isinstance(c1, BankAccount)

True

In [ ]:
print(type(c1))

<class '__main__.BankAccount'>

#### Instantation: Process of creating Object/instance of class is called Instantation

In [ ]:
c1 = BankAccount() # object1
c2 = BankAccount() # object2
BankAccount()      # Object3

In [ ]:
class BankAccount:
  pass

c1 = BankAccount()
c2 = BankAccount()

In [ ]:
# acc_id, name, balance
c1.acc_id = 100
c1.cust_name = "Sachin"
c1.balance = 1000

In [ ]:
# acc_id, name, balance
c2.acc_id = 101
c2.cust_name = "Ankit"
c2.balance = 500

Properties are also called attributes or Instance Variables

In [ ]:
c3 = BankAccount()

c3.acc_id = 102
c3.cust_name = "Sharath"
c3.balance = 100

In [ ]:
print(c1.balance)
print(c1.cust_name)

1000
Sachin

In [ ]:
class BankAccount:
  def display_balance(obj):
    print("Account Balance for", obj.cust_name, "is", obj.balance, "and accid is ", obj.acc_id)

c1 = BankAccount()
c1.acc_id = 100
c1.cust_name = "Sachin"
c1.balance = 1000

# calling the functionality show balance
BankAccount.display_balance(c1)

Account Balance for Sachin is 1000 and accid is  100

In [ ]:
c3 = BankAccount()

c3.acc_id = 102
c3.cust_name = "Sharath"
c3.balance = 100

# calling the functionality show balance
BankAccount.display_balance(c3)

Account Balance for Sharath is 100

In [ ]:
def func(a):
  print(a)
b=20
func(b)

In [ ]:
class BankAccount:
  def display_balance(self):
    print("Account Balance for", self.cust_name, "is", self.balance, "and accid is ", self.acc_id)

c1 = BankAccount()
c1.acc_id = 100
c1.cust_name = "Sachin"
c1.balance = 1000

BankAccount.display_balance(c1)

Account Balance for Sachin is 1000 and accid is  100

In [ ]:
c3 = BankAccount()

c3.acc_id = 102
c3.cust_name = "Sharath"
c3.balance = 100

# calling the functionality show balance
BankAccount.display_balance(c3)

Account Balance for Sharath is 100 and accid is  102

In [ ]:
print(c3.balance)

100

In [ ]:
amount = 500
c3.balance = c3.balance + amount
print(c3.balance)

600

Method: Functions inside a class

In [ ]:
class BankAccount:
  def display_balance(self):
    print("Account Balance for", self.cust_name, "is", self.balance, "and accid is ", self.acc_id)

  def deposit(self, amount): # credit
    self.balance = self.balance+amount

c1 = BankAccount()

c1.acc_id = 100
c1.cust_name = "Sachin"
c1.balance = 1000

In [ ]:
BankAccount.deposit(c1, 500)
BankAccount.display_balance(c1)

Account Balance for Sachin is 1500 and accid is  100

In [ ]:
print(c1.balance)

1500

In [ ]:
#BankAccount.display_balance(c1)
c1.display_balance()

Account Balance for Sachin is 1500 and accid is  100

In [ ]:
## add 500
c1.deposit(500)

In [ ]:
c1.display_balance()

Account Balance for Sachin is 2000 and accid is  100

In [ ]:
c2 = BankAccount()

c2.acc_id = 101
c2.cust_name = "Parveen"
c2.balance = 10000

# object.method()
c2.display_balance()

Account Balance for Parveen is 10000 and accid is  101

### Initializer: intializes common instance variables for every object that is created

In [ ]:
class BankAccount:
  # initializer function
  def __init__(self, acc_id, name, balance):
    self.acc_id = acc_id
    self.cust_name = name
    self.balance = balance

  def display_balance(self):
    print("Account Balance for", self.cust_name, "is", self.balance, "and accid is ", self.acc_id)

  def deposit(self, amount): # credit
    self.balance = self.balance+amount

c1 = BankAccount(100,"Sachin", 1000)

In [ ]:
print(c1.balance)

Jatin

In [ ]:
c1.display_balance()

Account Balance for Sachin is 100 and accid is  100

In [ ]:
c2 = BankAccount(101,"Ankit", 1000)

In [ ]:
c2.display_balance()

Account Balance for Ankit is 1000 and accid is  101

In [ ]:
c3 = BankAccount(100,"Sharath", 400)
c3.display_balance()

Account Balance for Sharath is 400 and accid is  100

In [ ]:
c1.display_balance()

Account Balance for Sachin is 100 and accid is  100

In [ ]:
c5 = BankAccount(110,"Lokesh")

TypeError: ignored

Every instance of class Bankaccount must have 3 instance variables

In [ ]:
c5 = BankAccount(110,"Lokesh", 1000)

In [ ]:
c5.pan_card = "Fklafe13"

In [ ]:
c1.pan_card

AttributeError: ignored

In [ ]:
c5.pan_card

'Fklafe13'

In [ ]:
# constructor

### Pillars of OOP
- Encapsulation, Abstraction, Polymorphism, Inhertiance
- Instance Variable vs ClassVariable

In [ ]:
a = [c1,c2]

In [ ]:
print(a)

[<__main__.BankAccount object at 0x7fb6a9a6e670>, <__main__.BankAccount object at 0x7fb6a9a6efa0>]

In [ ]:
class Student:
  def __init__(self, name, rollno):
    self.name = name
    self.rollno =rollno

  def print_roll(obj):
    print("Printing roll no", obj.rollno)


s1= Student("A",1)
s2= Student("B",2)

In [ ]:
Student.print_roll(s1)

Printing roll no 1

In [ ]:
Student.print_roll(s2)

Printing roll no 2

In [ ]:
def print_hello():
  print("hello world")

In [ ]:
class Print:
  def print_hello(self, arg):
    print(self,"hello world", arg)

p1 = Print()
p1.print_hello(5)

<__main__.Print object at 0x7fb6a9a6e370> hello world 5

In [ ]:
print(p1)

<__main__.Print object at 0x7fb6a9af3fa0>

In [ ]:
class Phone:
  def __init__(self, phone):
    self.phone = phone

class ApplePhone:
  def __init__(self, model_name):
    self.model_name = model_name

ap1 = ApplePhone("Iphone 14 pro")

In [ ]:
phone_obj = Phone(ap1)

In [ ]:
type(ap1)

__main__.ApplePhone

In [ ]:
type(phone_obj)

__main__.Phone

In [ ]:
type(phone_obj.phone)

__main__.ApplePhone

In [ ]:
class Student:
  def __init__(self, name, rollno):
    self.name = name

    if type(rollno)==int:
      self.rollno =rollno
    else:
      print("Invalid Roll No")

  def print_roll(obj):
    print("Printing roll no", obj.rollno)


s1= Student("A",1)

In [ ]:
s1.rollno

1

In [ ]:
s2= Student("A","hfajsfhas")

Invalid Roll No

In [ ]:
class BankAccount: #Init function for object Initialisation
  def init(self, acc_id, name, balance):
    self.acc_id = acc_id
    self.name = name
    self.balance = balance
#Add functionalities
def display_balance(self):
  print("Account balance for",self.name,"is", self.balance) #self is a positional keyboard def deposit(self,amount):
  self.balance = self.balance + amount 
  c1 = BankAccount(100,"Madhu", 1000)
  c1.display_balance()

In [ ]:
c1 = BankAccount()

In [ ]:
c1.init(101, "Sachin", 1000)

In [ ]:
c2 = BankAccount(102, "Arun", 10000)

TypeError: ignored

In [ ]:
class BankAccount:
  # initializer function
  def __init__(self, acc_id, name, balance):
    self.acc_id = acc_id
    self.cust_name = name
    self.balance = balance

  def display_balance(self):
    print("Account Balance for", self.cust_name, "is", self.balance, "and accid is ", self.acc_id)

  def deposit(self, amount): # credit
    self.balance = self.balance+amount


  def withdraw(self, amount):
    self.balance = self.balance - amount
    print(amount, "Withdrawn Successfully")

c1 = BankAccount(100,"Sachin", 1000)
c1.withdraw(100)

100 Withdrawn Successfully

In [ ]:
c1.balance

900