<a href="https://colab.research.google.com/github/SachinScaler/DSML-Nov22-Beginner-Tue-3/blob/main/ProblemSolvingTue25March.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
class A:
    def __str__(self):
        return "I belong class A"

a = A()
print(a)

I belong class A

In [5]:
class B:
    def __str__(self):
        return "I belong class B"

b = B()
print(b)

I belong class A

In [18]:
list1 = [
        ['mango', 'banana' , 'guava'],
        ['rose', 'sandalwood'],
        ['bccc', 'aaa', 'baac', 'c']]

        
# list1= ['banana', 'guava', 'mango' ]

In [19]:
output = [] # map
for row in list1:
    output.append(sorted(row, key= lambda x:x.count('a'), reverse = True))

print(output)

[['banana', 'guava', 'mango'], ['sandalwood', 'rose'], ['aaa', 'baac', 'bccc', 'c']]

## replace for loop with Map

In [12]:
'banana'.count('a')

3

In [14]:
sorted([2,1,3,5], reverse =True)

[5, 3, 2, 1]

In [16]:
sorted(['mango', 'banana' , 'guava'], key = lambda x:x.count('a'), reverse = True)

['banana', 'guava', 'mango']

In [20]:
list1 = ['cccc' , 'b', 'dd' , 'aaa']

# ['b', 'dd', 'aaa', 'cccc']

sorted(list1, key = lambda x:len(x))

['b', 'dd', 'aaa', 'cccc']

In [27]:
# list1 = [[1,2],
#  [2,0],
#  [-1,5]]
# sorted(list1, key = lambda x:x[1])

In [31]:
list1 = ['cccc' , 'b', 'a', 'dd' , 'aaa']

list1 = sorted(list1) # sort on lexicography
# ['b', 'dd', 'aaa', 'cccc']
# print(list1)
sorted(list1, key = lambda x:len(x))

['a', 'b', 'dd', 'aaa', 'cccc']

In [ ]:
# Note: In case 2 strings have the same length, they are sorted in ascending order of their lexicographic index.

In [32]:
list1 = [[1,2],
 [-1,6],
 [-1,5]]
sorted(list1, key = lambda x:x[1])

[[1, 2], [-1, 5], [-1, 6]]

In [38]:
list1 = [[-1,5] ,[1,2],[0,2]]
list1 = sorted(list1, key = lambda x:x[1])
sorted(list1, key = lambda x:x[0])

[[-1, 5], [0, 2], [1, 2]]

In [ ]:
#if i want to get output like [[-1,5],[2,1],[0,2]]
list1 = sorted(list1) # list1.sort( key = lambda x: len(x))

In [44]:
students = ['A', "B", "C","D", "E"]
scores = [1,2,3,1, 2]

# [('A',1), ("B",2)...]

output = []
for i in range(len(students)):
    print(i, students[i], scores[i])
    output.append((students[i], scores[i]))
output

0 A 1
1 B 2
2 C 3
3 D 1
4 E 2

[('A', 1), ('B', 2), ('C', 3), ('D', 1), ('E', 2)]

In [49]:
list(zip(students, scores))

[('A', 1), ('B', 2), ('C', 3), ('D', 1), ('E', 2)]

In [54]:
output1 = list(map(list, list(zip(students, scores))))
output1

[['A', 1], ['B', 2], ['C', 3], ['D', 1], ['E', 2]]

In [53]:
#list(map(lambda x,y:(x,y),students,scores))

In [55]:
#output1.sort(key = lambda x:x[1])

In [56]:
#output1

[['A', 1], ['D', 1], ['B', 2], ['E', 2], ['C', 3]]

In [57]:
output1

['E', 2]

In [70]:
print({1,3,1,2})

{1, 2, 3}

In [78]:
set1 = set()
for i in output1:
    set1.add(i[1])
print(set1)

{1, 2, 3}

In [75]:
set1.add(1)

In [59]:
set1 = {i[1] for i in output1} # comphrehension: list, tuples, dict and sets
set1

{1, 2, 3}

In [80]:
sec_high= sorted(list(set1))[-2] # second higest
sec_low = sorted(list(set1))[1] # second lowest

- # from output list extract all names which have second highest/second lowest marks

[['A', 1], ['B', 2], ['C', 3], ['D', 1], ['E', 2], ['F',3]

In [68]:
output = sorted([['A', 1], ['B', 2], ['C', 3], ['D', 1], ['E', 2], ['F',3]], key = lambda x : x[1])
output

[['A', 1], ['D', 1], ['B', 2], ['E', 2], ['C', 3], ['F', 3]]

In [67]:
# second lower
output[1]

['D', 1]

In [82]:
names = ["Adam","Millie","Jacob","Michael","Maxine"] 
loc = [(1,2),(5,4),(0,3),(2,3),(0,0)]


# start_break : calculate distance between all pairs of friends: Using Manhattan dist
# 10:22

In [87]:
for i in range(len(names)):
    for j in range(i+1, len(names)):
        #dist = abs(loc[i])    
        # print(loc[i]) # position of i 
        # print(loc[j]) # position of i 

        dist = abs(loc[i][0]-loc[j][0]) + abs(loc[i][1]-loc[j][1])
        
        print(names[i],names[j] , dist)

Adam Millie 6
Adam Jacob 2
Adam Michael 2
Adam Maxine 3
Millie Jacob 6
Millie Michael 4
Millie Maxine 9
Jacob Michael 2
Jacob Maxine 3
Michael Maxine 5

In [84]:
# for i in range(len(names)):
#     for j in range( len(names)):
#         print(names[i],names[j] )

Adam Adam
Adam Millie
Adam Jacob
Adam Michael
Adam Maxine
Millie Adam
Millie Millie
Millie Jacob
Millie Michael
Millie Maxine
Jacob Adam
Jacob Millie
Jacob Jacob
Jacob Michael
Jacob Maxine
Michael Adam
Michael Millie
Michael Jacob
Michael Michael
Michael Maxine
Maxine Adam
Maxine Millie
Maxine Jacob
Maxine Michael
Maxine Maxine

In [88]:
output = []
for i in range(len(names)):
    for j in range(i+1, len(names)):
        #dist = abs(loc[i])    
        # print(loc[i]) # position of i 
        # print(loc[j]) # position of i 

        dist = abs(loc[i][0]-loc[j][0]) + abs(loc[i][1]-loc[j][1])
        
        output.append((names[i],names[j] , dist))

In [93]:
output = sorted(output, key = lambda x:x[2])
output[0][0], output[0][1]

('Adam', 'Jacob')

In [ ]:
output = sorted(output, key = lambda x:x[2]) #nlogn

In [95]:
min_dist = float('inf') # 99999999999999999 # float('-inf') if you have to calc max value

# calcutate min number from a list of no [ 2,3,4,-1,100]  min_val = -1

for i in range(len(names)):
    for j in range(i+1, len(names)): 
        dist = abs(loc[i][0]-loc[j][0]) + abs(loc[i][1]-loc[j][1])
        if dist<min_dist:
            min_dist = dist
        
print(min_dist) # O(n)

2

In [97]:

for i in range(len(names)):
    for j in range(i+1, len(names)): 
        dist = abs(loc[i][0]-loc[j][0]) + abs(loc[i][1]-loc[j][1])
        if min_dist==dist: 
            print(names[i],names[j])

Adam Jacob
Adam Michael
Jacob Michael

In [ ]:
O(n^2) + (N^2) = 2*O(N^2)---> O(n^2) -> without sorting,  Space: O(1)

In [ ]:
O(n^2*nLog(n)) --> O(n^2) +nlog(N) + O(n^2) - sorting : Space Comlexity 3O(n)

In [98]:
def display():
        print('Hello', end=" ")

print(display())

Hello None

In [100]:
a = display()

Hello

In [101]:
print(a)

None

In [103]:
sets = [4,5,6]

In [104]:
(lambda x: ((x**3)%2==0,x**3))(4)

(True, 64)

In [108]:
# self


class A:
    def method1(self):
        print(self.id)

a = A()
a.id = 10
print(a)

<__main__.A object at 0x7f6aaee00a60>

In [109]:
a.method1()

10

In [111]:
b = A()
b.id = 20
b.method1()

20

In [113]:
def factorial(n):
    if n==1:
        return 1
    return n*factorial(n-1)

factorial(5)

120

In [114]:
fact_lambda = lambda x: x*fact_lambda(x-1) if x!=1 else 1

In [115]:
fact_lambda(5)

120

In [121]:
# public private and protected

class A:
    __var = 1  # private
    var2 = 2 # public
    _var3 = 3 # protected

print(A.var2)

2

In [122]:
print(A.__var)

AttributeError: ignored

In [ ]:
print(A.var)

In [123]:
print(A._var3)

3

In [137]:
class A:
    __var = 1  # private
    var2 = 2 # public
    _var3 = 3 # protected

    def print_pvt(self):
        print(self.__var)

class B(A):
    def print_pvt(self):
        print(self.__var)
    def print_public(self):
        print(self.var2)
    def print_protecte(self):
        print(self._var3)

In [138]:
a = A()
a.print_pvt()

1

In [131]:
B.var2 # public

2

In [132]:
b = B()
b.print_public()

2

In [134]:
B.__var # inhertited private

AttributeError: ignored

In [136]:
b.print_pvt() # privates vars are not inherited

AttributeError: ignored

In [139]:
b._var3 # inherited protected

3

In [140]:
b.print_protecte() # protected vars

3

- Public vars can be accessed anywhere and inherited
- private vars can be accessed only inside the class it belongs to and Not inherited