- string
- Dictionary
- Set

- Comphrension:
  - list
  - dict
  - set

- Searching:
  - Linear Searching

In [11]:
tup1 = 1,2,3
print(tup1)

(1, 2, 3)

In [ ]:
a = 1
b = 10
c = 10

new_tup = a,b,c

In [12]:
l = [4, 6, 7]
l += [1, 2, 3]
print(l)

[4, 6, 7, 1, 2, 3]

In [19]:
l = [4, 6, 7] # [4,6,7,3]
l+=[3] # l = l+[3]
print(l)

[4, 6, 7, 3]

In [ ]:
a = 4

a+=1
a = a+1

In [16]:
l = l+3

TypeError: ignored

In [17]:
l+=3

TypeError: ignored

In [21]:
l = [4, 6, 7]
l[-1]=3
print(l)

[4, 6, 3]

In [23]:
max(l)

7

In [24]:
min(l)

4

In [25]:
sum(l)

17

In [26]:
t = (1,2,3)
max(t)

3

In [27]:
l = [1,2,3,'a']
print(max(l))

TypeError: ignored

In [28]:
1>'a'

TypeError: ignored

In [29]:
l = [1,2,3,'a']
(sum(l))

TypeError: ignored

In [30]:
tup = (1,2,3,4,5,6,7) # 2,4,6
tup[1::2]

(2, 4, 6)

In [31]:
tup = (1,2,3,4,5,6,7) # elements at  even index: 1, 3,5,7
tup[::2]

(1, 3, 5, 7)

### Dictionary:
- Data Structure which holds key: Value Pairs
- New Python Version it's ordered, actually unordered.
- mutable
- Can you numeric index? NO. you can access using keys
- Are dictionaries iterable? Yes. Over keys
- What can be a key: Immutables can be key
- What can be values? Anything can be a value 

Homework: Why can't the mutables be keys?

In [40]:
dict1 = {
    1: "Gautam",
    2: "Parveen",
    3: "Chiranjeev",
}

print(dict1)

{1: 'Gautam', 2: 'Parveen', 3: 'Chiranjeev'}

In [41]:
print(dict1)

{1: 'Gautam', 2: 'Parveen', 3: 'Chiranjeev'}

In [42]:
dict1[4] = "keshav"
print(dict1)

{1: 'Gautam', 2: 'Parveen', 3: 'Chiranjeev', 4: 'keshav'}

In [43]:
dict1[4] = "Keshav"
print(dict1)

{1: 'Gautam', 2: 'Parveen', 3: 'Chiranjeev', 4: 'Keshav'}

Why? Keys can't be duplicate

In [44]:
dict1[5] = "Lokesh"
print(dict1)

{1: 'Gautam', 2: 'Parveen', 3: 'Chiranjeev', 4: 'Keshav', 5: 'Lokesh'}

In [45]:
dict1[5] = "Ramesh"
print(dict1)

{1: 'Gautam', 2: 'Parveen', 3: 'Chiranjeev', 4: 'Keshav', 5: 'Ramesh'}

In [46]:
# {1: 'Gautam', 4: 'Keshav', 5: 'Ramesh', 2: 'Parveen', 3: 'Chiranjeev'}
# { 4: 'Keshav', 5: 'Ramesh', 2: 'Parveen', 3: 'Chiranjeev', 1: 'Gautam'}

In [47]:
# dict1 = {3:"Lokesh",
#          1:"Gautam"}
# print(dict1)

In [48]:
print(dict1)

{1: 'Gautam', 2: 'Parveen', 3: 'Chiranjeev', 4: 'Keshav', 5: 'Ramesh'}

In [51]:
dict1[5]

'Ramesh'

In [54]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh'}
print(dict1)

{'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh'}

In [56]:
print(dict1['a'])

Gautam

In [57]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', (1,2): 'Priyansh'}
print(dict1)

{'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', (1, 2): 'Priyansh'}

In [60]:
print(dict1[(1,2)])

Priyansh

In [61]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', (1,2): 'Priyansh', [3,3,3]:"Vishnu" }

TypeError: ignored

In [68]:
# nested dictionary
customer_Info = {101: {
       "Name": "Sachin",
        "Orders": [{"OrderID": 1,
                   "Ordername": "tshirt",
                   "Amount": 2500},
                   {"OrderID": 2,
                   "Ordername": "Pants",
                   "Amount": 3000}
                   ],
       "Address":{"Pincode": 5600,
                  "Line1": "405, Skr residency"}
},
                 
                102:{
              "Name": "Priyansh",
        "Orders": [{"OrderID": 1,
                   "Ordername": "tshirt",
                   "Amount": 2500},
                   {"OrderID": 2,
                   "Ordername": "Pants",
                   "Amount": 3000}
                   ],
       "Address":{"Pincode": 5600,
                  "Line1": "406, Skr residency"}
                }
       }

  
print(customer_Info)

{101: {'Name': 'Sachin', 'Orders': [{'OrderID': 1, 'Ordername': 'tshirt', 'Amount': 2500}, {'OrderID': 2, 'Ordername': 'Pants', 'Amount': 3000}], 'Address': {'Pincode': 5600, 'Line1': '405, Skr residency'}}, 102: {'Name': 'Priyansh', 'Orders': [{'OrderID': 1, 'Ordername': 'tshirt', 'Amount': 2500}, {'OrderID': 2, 'Ordername': 'Pants', 'Amount': 3000}], 'Address': {'Pincode': 5600, 'Line1': '406, Skr residency'}}}

In [71]:
print(customer_Info[102]['Name'])

Priyansh

In [72]:
print(customer_Info[102]['Orders']) # all orders

[{'OrderID': 1, 'Ordername': 'tshirt', 'Amount': 2500}, {'OrderID': 2, 'Ordername': 'Pants', 'Amount': 3000}]

In [73]:
print(customer_Info[102]['Orders'][0]) # first order

{'OrderID': 1, 'Ordername': 'tshirt', 'Amount': 2500}

### Homework:
- Extract name and second order Amount for customerID 102

- Create Dictionary for Adhaar Card System/ Banking

In [75]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', 'f': 'Priyansh', 'g':"Vishnu" }
print(dict1['h'])

KeyError: ignored

In [76]:
print(dict1.get('h'))

None

In [77]:
print(dict1.get('f'))

Priyansh

In [78]:
print(dict1.get('h', "Invalid ID"))

Invalid ID

In [79]:
print(dict1.get('a', "Invalid ID"))

Gautam

### iterating over dictionary

In [83]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', 'f': 'Priyansh', 'g':"Vishnu" }
# iterate using keys
for i in dict1:
  print(i, dict1[i])

a Gautam
b Parveen
c Chiranjeev
d Keshav
e Ramesh
f Priyansh
g Vishnu

Iterate using items

In [84]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', 'f': 'Priyansh', 'g':"Vishnu" }

dict1.items()

dict_items([('a', 'Gautam'), ('b', 'Parveen'), ('c', 'Chiranjeev'), ('d', 'Keshav'), ('e', 'Ramesh'), ('f', 'Priyansh'), ('g', 'Vishnu')])

In [86]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', 'f': 'Priyansh', 'g':"Vishnu" }
# iterate using keys
for k,v in dict1.items():
  print(k,v)

a Gautam
b Parveen
c Chiranjeev
d Keshav
e Ramesh
f Priyansh
g Vishnu

In [88]:
dict1 = {'a': 'Gautam', 'b': 'Parveen', 'c': 'Chiranjeev', 'd': 'Keshav', 'e': 'Ramesh', 'f': 'Priyansh', 'g':"Vishnu" }
dict2 = {'h': "AB", "i": "DE"}
dict1.update(dict2)

In [90]:
dict1

{'a': 'Gautam',
 'b': 'Parveen',
 'c': 'Chiranjeev',
 'd': 'Keshav',
 'e': 'Ramesh',
 'f': 'Priyansh',
 'g': 'Vishnu',
 'h': 'AB',
 'i': 'DE'}

- Homework:

dict2.update(dict1) ?

### Set: 
- Ordered? Orginally undordered, Now ordered
- Indexable?: No
- Mutable? yes
- Unique Values
- Iterable? Yes
- What can it store: Only Immutable

In [91]:
s1 = {1,2,3}
type(s1)

set

In [92]:
s1 = {}
type(s1)

dict

In [101]:
s1 = set()
print(s1)
print(type(s1))

set()
<class 'set'>

In [100]:
s1 = {1,} # not empty sets
print(s1)

{1}

In [99]:
s1 = {""} # not empty set
print(type(s1))
print(s1)

<class 'set'>
{''}

In [104]:
s1 = set()
s1.add(1)
print(s1)

{1}

In [105]:
# remove elements
print(s1.remove(1))
print(s1)

None
set()

In [107]:
s1 = {1,2,3,4}
s2 = {4,5,6}
s1.update(s2)
print(s1)

{1, 2, 3, 4, 5, 6}

In [108]:
print(s1)

{1, 2, 3, 4, 5, 6}

In [109]:
for i in s1:
  print(i)

1
2
3
4
5
6

In [113]:
list1 = [1,2,3,4]
len(set(list1)) == len(list1)

True

Set opertaions:

### Set Operations:
```
A = {1,2}
B = {1,3,4,5}
```

- ***Intersection***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/046/original/Screenshot_2022-09-21_at_1.10.06_PM.png?1663746030">
  - Common in both sets
  - here `1` is common in both `A` and `B`

- ***Union***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/047/original/Screenshot_2022-09-21_at_1.11.27_PM.png?1663746097">
  - Set of both the elements `A` and `B`
  - here it is `{1,2,3,4,5}`

- ***Difference***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/050/original/Screenshot_2022-09-21_at_1.13.50_PM.png?1663746286">
  - `A - B`
    - Set of all elements that are in `A` but not in `B`
    - that is `{2}` here
  - `B - A`
    - Set of all elements that are in `B` but not in `A`
    - that is `{3,4,5}` here
  - `A-B` != `B - A`

- ***Symmetric Difference***
  - <img src="https://d2beiqkhq929f0.cloudfront.net/public_assets/assets/000/015/051/original/Screenshot_2022-09-21_at_1.14.09_PM.png?1663746327">
  - `(A - B) Union (B - A)` or `(A U B) - (A Λ B)`
  - that is `{2,3,4,5}` here

In [115]:
s1 = {1,2,3,4}
s2 = {4,5,6}

# intersection
s1.intersection(s2)

{4}

In [116]:
print(s1 & s2)

{4}

In [117]:
# union
print(s1 | s2)

{1, 2, 3, 4, 5, 6}

In [118]:
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [119]:
# difference
s1.difference(s2)

{1, 2, 3}

In [120]:
s1- s2

{1, 2, 3}

Questions: element present only in s2

In [121]:
# Symmetric Difference
s1.symmetric_difference(s2)

{1, 2, 3, 5, 6}

In [122]:
s1 ^ s2

{1, 2, 3, 5, 6}

In [123]:
s2^s1

{1, 2, 3, 5, 6}

In [124]:
s1 = {1,4.5, "A", (2,3)}
print(s1)

{(2, 3), 1, 4.5, 'A'}

In [125]:
s1 = {1,4.5, "A", (2,3), [4,5]}
print(s1)

TypeError: ignored

In [126]:
s1 = {1,1,2,2}
print(s1)

{1, 2}

Try to create dictionary with duplicate key

#### Comphrensions:

In [127]:
input_list = [1,2,3,4] # add 5 at each position: [6,7,8,9 ]
new_list = []
for i in input_list:
  new_list.append(i+5)
print(new_list)

[6, 7, 8, 9]

In [130]:
[i+5 for i in input_list] # shorthand notation

[6, 7, 8, 9]

In [132]:

square_list = [i**2 for i in input_list] # [1,4,9,16]
print(square_list)

[1, 4, 9, 16]

### Given a list, create another list which satisfies following condn:
```
i**2 if i is odd
i if i is even
```

In [133]:
input_list = [1,2,3,4] # [1, 2, 9, 4]

def custom_logic(i):
  if i%2==0:
    return i
  else:
    return i**2
custom_logic(2)

2

In [134]:
custom_logic(3)

9

In [135]:
[custom_logic(i) for i in input_list]

[1, 2, 9, 4]

In [138]:
# another approach: This is complicated
[ i **2 if i%2==1  else i for i in input_list]

[1, 2, 9, 4]

In [139]:
# nested_list comprehension

["Hello" for i in range(2) for j in range(2)]

['Hello', 'Hello', 'Hello', 'Hello']

In [140]:
new_list = []

for i in range(2):
  for j in range(2):
    new_list.append("Hello")
new_list

['Hello', 'Hello', 'Hello', 'Hello']

In [145]:
[(i,j) for i in range(2) for j in range(2)]

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [146]:
new_list = []

for i in range(2):
  for j in range(2):
    new_list.append((i,j))
new_list

[(0, 0), (0, 1), (1, 0), (1, 1)]

In [147]:
[i+j for i in range(3) for j in range(2)]

[0, 1, 1, 2, 2, 3]

In [149]:
new_list = []
for i in range(3):
  for j in range(2):
    new_list.append(i+j)

print(new_list)

[0, 1, 1, 2, 2, 3]

### Your task is to create:
```
expected Output:
['a1', 'a2', 'a3', 'b1', 'b2', 'b3', 'c1', 'c2', 'c3']
```
```
 str1 = 'abc'
 list1 = [1,2,3]
```

In [150]:
dict1 = {"A":20, "B": 30, "C": 40}
# task is to add 10 to each value
{k:v+10 for k,v in dict1.items()}

{'A': 30, 'B': 40, 'C': 50}

In [153]:
list1 = [1,2,3]
# create a set containing square element
{i*i for i in list1} # set comp

{1, 4, 9}

In [154]:
[i*i for i in list1] # list comp

[1, 4, 9]

In [155]:
{i:i*i for i in list1} # dictionary comphre

{1: 1, 2: 4, 3: 9}

### Homework: Can we do Tuple Comphrension

 dict1 = {"A":20, "B": 30, "C": 40}
 
 write comprehension to swap key and values

{20:"A", 30:"B", 40:"C"}