<a href="https://colab.research.google.com/github/SachinScaler/DSML-Nov22-Beginner-Tue-3/blob/main/Time_Complexity_and_Sorting_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

```
Time Comlexity for bubble sort? 
Worst:  O(n^2)
best: omega(n) --> O(n)
When it is already sorted! 
or
When there is no swap
```

### Selection Sort:

In [3]:
a = [2,3,5,8,1,10]

min_index = 0 
current_index = 0

print("Start Min",a[min_index])

for i in range(1,len(a)):
  if a[i]<a[min_index]:
    #print(a[i],a[min_index])
    min_index =i 


print("Ending Min",a[min_index])

Start Min 2
Ending Min 1

In [4]:
a[current_index],a[min_index] = a[min_index],a[current_index]
print(a)

[1, 3, 5, 8, 2, 10]

In [5]:
def selection_sort(a):
  for i in range(len(a)):
    min_index = i 
    for j in range(i+1, len(a)):
      if a[min_index]>a[j]: # a[j]<a[min_index]
        min_index = j 

    a[i], a[min_index]= a[min_index], a[i] 
  
  return a
    
a = [ 2,8,5,3,9,4,1]
selection_sort(a)

[1, 2, 3, 4, 5, 8, 9]

In [6]:
def selection_sort(a):
  for i in range(len(a)):
    min_index = i 
    print(a)
    print("-"*50)
    for j in range(i+1, len(a)):
      if a[min_index]>a[j]: # a[j]<a[min_index]
        min_index = j 

    a[i], a[min_index]= a[min_index], a[i] 
  
  return a
    
a = [ 2, 8, 5, 3, 9, 4, 1]
selection_sort(a)

[2, 8, 5, 3, 9, 4, 1]
--------------------------------------------------
[1, 8, 5, 3, 9, 4, 2]
--------------------------------------------------
[1, 2, 5, 3, 9, 4, 8]
--------------------------------------------------
[1, 2, 3, 5, 9, 4, 8]
--------------------------------------------------
[1, 2, 3, 4, 9, 5, 8]
--------------------------------------------------
[1, 2, 3, 4, 5, 9, 8]
--------------------------------------------------
[1, 2, 3, 4, 5, 8, 9]
--------------------------------------------------

[1, 2, 3, 4, 5, 8, 9]

In [7]:
a = [ 1, 2,3,4,6,7]
selection_sort(a)

[1, 2, 3, 4, 6, 7]
--------------------------------------------------
[1, 2, 3, 4, 6, 7]
--------------------------------------------------
[1, 2, 3, 4, 6, 7]
--------------------------------------------------
[1, 2, 3, 4, 6, 7]
--------------------------------------------------
[1, 2, 3, 4, 6, 7]
--------------------------------------------------
[1, 2, 3, 4, 6, 7]
--------------------------------------------------

[1, 2, 3, 4, 6, 7]

```
Worst Case: O(n^2)
Best Case: O(n^2)
```

Insertion sort:

In [9]:
a =[2,4,5,7, 3, 0, 1 ]

index_to_insert = 4

j = index_to_insert-1

while j>=0:
  if a[j] < a[index_to_insert]:
    break
  a[j], a[index_to_insert] =   a[index_to_insert],a[j]
  index_to_insert=j 
  j-=1

print(a)

[2, 3, 4, 5, 7, 0, 1]

In [11]:
def insertion_sort(a):
  for i in range(1,len(a)):
    index_to_insert = i 
    j = i-1 

    while j>=0:
      if a[j]<a[index_to_insert]:
        break 
      a[j], a[index_to_insert]= a[index_to_insert], a[j] 
      index_to_insert = j 
      j-=1

  return a

a = [4,5,1,3,2]
insertion_sort(a)

[1, 2, 3, 4, 5]

In [13]:
def insertion_sort(a):
  for i in range(1,len(a)):
    index_to_insert = i 
    j = i-1 

    print(a[:index_to_insert], "|", a[index_to_insert:])
    print("-"*50)
    while j>=0:
      if a[j]<a[index_to_insert]:
        break 
      a[j], a[index_to_insert]= a[index_to_insert], a[j] 
      index_to_insert = j 
      j-=1

  return a

a = [5,4,3,2,1, 0]
insertion_sort(a)

[4] | [5, 1, 3, 2]
--------------------------------------------------
[4, 5] | [1, 3, 2]
--------------------------------------------------
[1, 4, 5] | [3, 2]
--------------------------------------------------
[1, 3, 4, 5] | [2]
--------------------------------------------------

[1, 2, 3, 4, 5]

- Step 1: Start with initial index to insert = 1 and keep moving forward
- Step 2: Left part of index to insert is Sorted and right part is Unsorted
- Step3: Pick the first element from unsorted(right side) part and put it into correct place in sorted part(left hand side)

time- Complexity:
Best_case: O(n) or Omega(n)

Worst Case: O(n^2)

In [15]:
a = [5,4,3,2,1, 0]
a = sorted(a)
print(a)

[0, 1, 2, 3, 4, 5]

In [18]:
a = [5,4,3,2,1, 0]
a.sort()
print(a)

[0, 1, 2, 3, 4, 5]

- Timsort: insertion sort + mergesort

### MERGESORT:

- Divide and Conquer: Similar to Binary Search
- Keep Dividing the list into halves until each list contains only 1 element
- Start merging them in sorted order

Homework:
```
List1 = [ 3,5,7,8]
list2 = [ 2,4,10]


Merge them to create final sorted list:

output =  [2, 3,4,5,7,8, 10]

```