<a href="https://colab.research.google.com/github/SachinScaler/DSML-Nov22-Beginner-Tue-3/blob/main/Time_Complexity_and_Sorting_Part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Quiz Time:

Time Complexity:

In [ ]:
# ----
def foo(n): # 1
  x = 1     # 1
  y = 1     # 1
  z = 3     # 1

  print(n) # 1
# ----

foo(1000)  

# 5 ops

In [ ]:
# ----
def foo(n): # 1
  x = 1     # 1
  y = 1     # 1
  z = 3     # 1

  print(n) # 1
# ----

foo(2000)  

# 5 ops

- Input size doesn't matter 
- Only 5 ops

These kinds of algrotithms are also called constant time Algorithms.
Because number of ops are independent of input.

In [ ]:
def linear(n): # 1
  x = 1         # 1
  for i in range(n): # 1
    print(i)      # n

linear(10)  

# n+3

0
1
2
3
4

- the number of OPS are linearly dependent on input N.

In [ ]:
def func(n): # 1
  x = 1         # 1
  for i in range(n): # 1
    for j in range(n):  # n
      print("Hello World") # n*n

func(2)

Hello World
Hello World
Hello World
Hello World

- n^2 + n + 3
- Quadratic Equations
- Quadratic time complexity algorithm.

In [ ]:
def linear(n): # 1
  x = 1         # 1
  for i in range(n): # 1
    print(i)      # n

  for i in range(n): # 1
    print(i)        # n

linear(10)

- n + 3 + n +1 = 2n+4--> n: Linear.

In [ ]:
def func(n): # 1
  x = 1         # 1
  for i in range(n): # 1
    for j in range(n):  # n
      print("Hello World") # n*n

  for i in range(n): # 1
    print(i)        #n

func(2)

range(0, 5)

n^2+n+3 +1+n --> n^2 +2n +4-> n^2--> Quadratic

In [ ]:
def func(n): # 1
  x = 1         # 1
  for i in range(n): # 1
    for j in range(n):  # n
      for k in range(n) # n*n    
      print("Hello World") # n*n*n

  for i in range(n): # 1
    for j in range(n):  # n
      print("Hello World") # n*n

N^3: Cubic

In [ ]:
def func(n): # 1
  x = 1         # 1
  for i in range(n): # 1
    for k in range(0,n, n//2): #n
      print("Hello World") # 2 times


func(n=1)

- Linear

In [ ]:
n = 100
for k in range(0,n, n//3): #n
      print("Hello World") # 3

Hello World
Hello World

### Sorting:

In [ ]:
list1 = ['a', 'b', 'z', 'x']
sorted(list1)

['a', 'b', 'x', 'z']

In [ ]:
list1.sort()

In [ ]:
list1 = ['a', 'b', 'z', 'x']
sorted(list1, reverse = True)

['z', 'x', 'b', 'a']

In [ ]:
def bubble_sort(a):

  for i in range(len(a)): # 1
    print("I: ", i) 
    for j in range(len(a)-1): # n

      if a[j]>a[j+1]: # (n-1) *n
        a[j+1],a[j]= a[j],a[j+1] 

    print("List" ,a)
  return a

a = [5,1,2,4,7,3]
#a = [5]
bubble_sort(a)

I:  0
List [1, 2, 4, 5, 3, 7]
I:  1
List [1, 2, 4, 3, 5, 7]
I:  2
List [1, 2, 3, 4, 5, 7]
I:  3
List [1, 2, 3, 4, 5, 7]
I:  4
List [1, 2, 3, 4, 5, 7]
I:  5
List [1, 2, 3, 4, 5, 7]

[1, 2, 3, 4, 5, 7]

In [ ]:
def bubble_sort(a):
  iteration = 0

  for i in range(len(a)): # 1
    print("I: ", i) 
    for j in range(len(a)-1): # n
      iteration+=1 

      if a[j]>a[j+1]: # (n-1) *n
        a[j+1],a[j]= a[j],a[j+1] 

    print("List" ,a)

  print("iteration: ", iteration)
  return a

a = [5,1,2,4,7,3]
#a = [5]
bubble_sort(a)

I:  0
List [1, 2, 4, 5, 3, 7]
I:  1
List [1, 2, 4, 3, 5, 7]
I:  2
List [1, 2, 3, 4, 5, 7]
I:  3
List [1, 2, 3, 4, 5, 7]
I:  4
List [1, 2, 3, 4, 5, 7]
I:  5
List [1, 2, 3, 4, 5, 7]
iteration:  30

[1, 2, 3, 4, 5, 7]

- n*n-1 + n +c
- n^2 + 2n+c

- n^2

In [ ]:
def bubble_sort(a):


  for i in range(len(a)): # 1
    print("I: ", i) 
    for j in range(len(a)-1-i): # n
      if a[j]>a[j+1]: #(n-1-0)+(n-1-1)+ (n-1-2)...... 1
        a[j+1],a[j]= a[j],a[j+1] 

    print("List" ,a)
  return a

a = [5,1,2,4,7,3]
#a = [5]
bubble_sort(a)

(n-1-0)+(n-1-1)+ (n-1-2)...... 1--- > (n-1 + n-2 + n-3 +.....1)-> 1....n = n*(n+1)*2 - n 
---> n^2

In [ ]:
def bubble_sort(a):
  for i in range(len(a)): # 1
    print("I: ", i) 
    swap = False
    for j in range(len(a)-1-i): # n
      if a[j]>a[j+1]: #(n-1-0)+(n-1-1)+ (n-1-2)...... 1
        a[j+1],a[j]= a[j],a[j+1] 
        swap = True
    if swap==False:
      return a

    print("List" ,a)
  return a

a = [5,1,2,4,7,3]
#a = [5]

a = [1,2,4,3,5,7]

bubble_sort(a)

I:  0
List [1, 2, 3, 4, 5, 7]
I:  1

[1, 2, 3, 4, 5, 7]

- Best Case: omega(n), o(n)
_ worst case: o(n^2)

Calculate number of iterations in Second Optimization and Second + third optimization

Try writing bubble-sort